<template name="postsList">
    <div class="posts">
        {{#each posts}}
        {{> postItem}}
        {{/each}}

        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
            {{>spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>